
form {
  margin: 0 0 1.5rem 0;
}
form > .fields {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 3rem);
  margin: -1.5rem 0 1.5rem -1.5rem;
}
form > .fields > .field {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1.5rem 0 0 1.5rem;
  width: calc(100% - 1.5rem);
}
form > .fields > .field.half {
  width: calc(50% - 0.75rem);
}

label {
  color: rgba(255, 255, 255, 0.875);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0 0.4875rem 0;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
select,
textarea {
  appearance: none;
  background: transparent;
  border: solid 2px rgba(255, 255, 255, 0.25);
  border-radius: 0.25rem;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.75rem;
  text-decoration: none;
  width: 100%;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
}
ul.actions li {
  padding: 0 0 0 0.75rem;
  vertical-align: middle;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul.actions {
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -0.75rem;
  padding-left: 0;
}
input[type='submit'],
input[type='reset'],
input[type='button'],
button,
.button {
  background-color: white;
  box-shadow: none;
  color: #2e2b37 !important;
  appearance: none;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 2px rgb(255 255 255 / 25%);
  color: rgba(255, 255, 255, 0.875) !important;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 2.75rem;
  letter-spacing: 0.15rem;
  line-height: 2.75rem;
  padding: 0 1.5rem 0 1.65rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.skillArea {
  width: 80%;
}
