.heroArea {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* sets section as its own container  */

.heroArea:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--blackTransp);
  z-index: 25;
}


/* >>>>>>>>>>>>>>>>>>>logo bar<<<<<<<<<<<<<<<<<<<<< */
.NavContainer {
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  z-index: 30;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, var(--seaBlackTransp) , transparent);
}

/* >>>>>>>>>> Logo >>>>>>>>>> */
.mainLogo {
  height: 2.5rem;
  width: 8.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: var(--seaGreen);
  text-transform: uppercase;
  animation: onLoad 2s ease-in-out;
  animation-delay: var(--firstDelayGroup);
  animation-fill-mode: forwards;
  opacity: 0;
}
.mainLogo span {
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--white);
  outline: 3px solid var(--seaGreen);
}


@media (max-width: 850px) {
  .NavContainer {
    top: 92%;
    background: linear-gradient(to top, var(--seaBlackTransp), transparent);
    z-index: 100;
  }
  .logoContainer {
  padding: 0 ;

  }
  .logo {
  font-size: 1.9rem;
  }
  .logo span {
    font-size: 1.6rem;

  }
}
/* >>>>>>>>>>>>>>>>>>>>>>> Tittle <<<<<<<<<<<<<<<<<<<<< */
.heroTitleBox {
  z-index: 30;
  position: absolute;
  top: calc(50% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 16%;
  min-width: 30%;
  box-shadow: 2px 2px 3px var(--black);
  border:4px solid var(--white);
  border-radius: 10px;
}

.heroTitleBox p {
  text-transform: uppercase;
}

.heroTitle {
  color: var(--white);
  text-shadow: 2px 2px 3px var(--black);
  font-size: 60px;
  font-weight: 900;
}
@media (max-width: 1025px) {
  .heroTitleBox {
    min-height: 10%;
  min-width: 40%;

  }

}

@media (max-width: 850px) {
  .heroTitleBox {
    min-height: 0;
    min-width: 0;
  }
  .heroTitle {
    font-size: 0;
  }
}
@media (max-width: 400px) {
  .heroTitleBox {
    min-height: 10%;
    min-width: 80%;
    top: calc(85% - 2rem);
    opacity: 0;
  }
  .heroTitle {
    font-size: 30px;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>> planes <<<<<<<<<<<<<<<<<<<<< */

.hiker {
  width: 920px;
  position: absolute;
  bottom: -80px;
  left: -100px;
  z-index: 10;
}

.plane2 {
  width: 1800px;
  position: absolute;
  bottom: -1050px;
  right: 0;
  z-index: 8;
}

.plane3 {
  width: 1100px;
  position: absolute;
  bottom: -70px;
  left: 0;
  z-index: 7;
}

.plane4 {
  width: 1900px;
  position: absolute;
  bottom: 20px;
  left: -10px;
  z-index: 5;
}

.sky {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
}


@media (max-width: 1050px) {
  .hiker {
    bottom: -150px;
  }
  .plane2 {
    width: 1600px;
    /* bottom: -100px; */
  }
  .plane4 {
    width: 1990px;
    bottom: 90px;
    left: 0px;
  }
}

@media (max-width: 850px) {
  .hiker {
    bottom: -100px;
  }
  .plane2 {
    width: 1500px;
    bottom: - 50px;

  }
  .plane4 {
    bottom: 50px;
    left: -100px;
  }
}


