.topNavFeatureContainer {
  position: relative;
  min-height: 50%;
  width: 120%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bottomNavFeatureContainer {
  position: relative;
  min-height: 50%;
  width: 120%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
