

.sectionOne {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.shadow {
  height: 170px;
  width: 100%;
  position: absolute;
  bottom: 95%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, var(--backgroundColor), transparent);
}
