

.sectionOne {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.sectionOne p {
  max-width: 80vw;
  font-size: 1rem;
  letter-spacing: .12rem;
  position: absolute;
  left: 2rem;
  top: 3rem;
  z-index: 55;
 color: var(--white);
}


/* // Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {
  .sectionOne p {
    max-width: 31vw;
    font-size: 1.2rem;
    letter-spacing: .12rem;
    left: 7rem;
    top: 12rem;
 
  }
}